############################
# macOS
############################
.DS_Store

############################
# Rider / IntelliJ
############################
.idea/

############################
# VS Code
############################
.vscode/

############################
# Visual Studio
############################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Build folders
############################
bin/
obj/
out/
Debug/
Release/

############################
# Logs
############################
*.log

############################
# NuGet
############################
packages/
*.nupkg
*.snupkg

############################
# EF Core temporary files
############################
Migrations/*Snapshot.cs

############################
# Database files (если SQLite)
############################
*.sqlite
*.sqlite3
*.db

############################
# Local DB (SQL Server)
############################
*.mdf
*.ldf

############################
# Environment variables (секреты)
############################
.env
.env.*
appsettings.Development.json

############################
# Temporary files
############################
*.tmp
*.swp
*.cache
